<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>About us</title>
    <!-- Thymeleaf expressions to dynamically generate URLs -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/about.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
          crossorigin="anonymous" rel="stylesheet"/>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  </head>
  <body>

<header>
  <nav th:replace = "~{fragments/navbar::nav}">
  </nav>
</header>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" >
      <div class="carousel-item active ">
        <img src="/images/hero_bg_2.jpg" alt="First slide">
        <div class="container" >
          <div class="carousel-caption text-start" >
            <h1>Dive into Crossfit with us !</h1>
            <p>
              Welcome to CrossFit Stuttgart, your premier destination for high-intensity fitness training in the heart of Germany. Our state-of-the-art facility is designed to push your limits and help you achieve your fitness goals, whether you're a seasoned athlete or a newcomer to CrossFit. Located in the vibrant city of Stuttgart, we offer a variety of programs tailored to all fitness levels, ensuring you receive the personalized attention you deserve. Join us and become a part of our dynamic community that’s passionate about health, wellness, and achieving excellence together.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/community2.webp" alt="First slide">
        <div class="container">
          <div class="carousel-caption" >
            <h1>Explore our trainings ...</h1>
            <p>We have different types of trainings for every need ! At CrossFit Stuttgart, we believe in the power of community and the strength that comes from working out together.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/indexMain.jpg" alt="First slide">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Discover CrossFit Stuttgart</h1>
            <p>Step into the world of CrossFit Stuttgart, where fitness isn't just a routine but a lifestyle. We're dedicated to delivering unparalleled training experiences that blend cutting-edge techniques with a supportive community atmosphere. Whether you're aiming to build strength, improve endurance, or simply lead a healthier life, our diverse programs cater to all fitness levels and goals. Join us and explore how CrossFit Stuttgart can empower you to redefine your limits and achieve lasting fitness success.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
  </div>


 <!--Here will be the most liked events displayed -->

  <!-- Events Section -->
  <div class="container marketing">
    <h2 class="mb-3 text-white" >Upcoming Events</h2>
    <!-- Three columns of events -->
    <!-- Three columns of events -->
    <!-- Three columns of events -->
    <div class="row">
      <div class="col-lg-4" th:each="event : ${events}">
        <div class="single_event position-relative">
          <!-- Event Video -->
          <div class="event_video">
            <iframe th:src="@{'https://www.youtube.com/embed/' + ${event.videoUrl}}"
                    frameborder="0" allowfullscreen></iframe>
          </div>
          <!-- Event Details -->
          <div class="event_details">
            <div class="d-flex mb-4">
              <div class="date"><span th:text="${#dates.format(event.date, 'd')}"
                                      class="font-weight-bold"></span>
                <span th:text="${#dates.format(event.date, 'MMM')}"
                      class="text-uppercase"></span></div>
              <div class="time-location">
                <p><span class="ti-time mr-2"></span>
                  <span th:text="${#dates.format(event.date, 'hh:mm a')}"></span></p>
                <p><span class="ti-location-pin mr-2"></span>
                  <span th:text="${event.address}"></span></p>
              </div>
            </div>
            <!-- Display number of participants -->
            <p>Current participants: <span id="currentParticipants">10</span></p>
            <!-- Event Description -->
            <p th:text="${event.description}"></p>
            <!-- Enroll form button -->
            <form th:action="@{/about-us/enroll-event}" th:method="POST">
              <button type="submit" class="btn btn-primary rounded-0 mt-3"
                      sec:authorize="hasRole('MEMBER')">Enroll
              </button>
            </form>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- Some Quotes, Maybe we can display when each user add a quotes and display random three -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Greg Glassman</h2>
        <p class="lead">"The magic is in the movement, the art is in the programming, the science is in the explanation, and the fun is in the community."
        </p>
      </div>
      <div class="col-md-5">
        <img src="/images/greg.webp" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="Greg Glassman">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Keep trying !</h2>
        <p class="lead">"Pain is temporary. Quitting lasts forever." </p>
      </div>
      <div class="col-md-5">
        <img src="/images/quote.webp" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="Greg Glassman">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one.</h2>
        <p class="lead"> "CrossFit isn’t just about building a better body; it’s about building a better life. It’s about pushing through the pain, embracing the challenge, and transforming yourself inside and out."</p>
      </div>
      <div class="col-md-5">
        <img src="/images/cross.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="Greg Glassman">
      </div>
    </div>

    <hr class="featurette-divider">

  </div><!-- /.container -->



  <footer th:replace = "~{fragments/footer::footer}">
  </footer>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>
