<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Event Page</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/add-event.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
          crossorigin="anonymous" rel="stylesheet"/>
</head>
<body>
<nav th:replace = "~{fragments/navbar::nav}"></nav>
<div class="container2 mt-5">
    <div id="event_form">
        <h2>Add Event</h2>
        <form th:action="@{/events/publish-event}" th:method="POST" th:object="${eventDetailsDto}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="eventName">Event Name</label>
                <input type="text" class="form-control" id="eventName" name="eventName" th:classappend="${#fields.hasErrors('eventName')} ? 'is-invalid'" th:field="*{eventName}" placeholder="Enter name of the event">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('eventName')}" th:errors="*{eventName}" ></div>
            </div>
            <div class="form-group">
                <label for="date">Event Date</label>
                <input type="date" class="form-control" id="date" name="date" th:classappend="${#fields.hasErrors('date')} ? 'is-invalid'" th:field="*{date}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
            </div>
            <div class="form-group">
                <label for="address">Event Place</label>
                <input type="text" class="form-control" id="address" name="address" th:classappend="${#fields.hasErrors('address')} ? 'is-invalid'" th:field="*{address}" placeholder="Enter the valid address of the event">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
            </div>
            <div class="form-group">
                <label for="description">Event Description</label>
                <textarea class="form-control" id="description" name="description" rows="4" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'" th:field="*{description}" placeholder="Add description of the event" ></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            </div>
            <div class="form-group">
                <label for="videoUrl">Event Video</label>
                <input type="text" class="form-control" id="videoUrl" name="videoUrl" th:classappend="${#fields.hasErrors('videoUrl')} ? 'is-invalid'" th:field="*{videoUrl}" placeholder="Place a valid youtube URL from past events like this one">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('videoUrl')}" th:errors="*{videoUrl}"></div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>
