<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js}"></script>
    <style>
        body {
            padding: 20px;
            background-color: lightgray;
        }

        .card {
            margin-bottom: 20px;
        }

        .btn-dark:hover {
            background-color: red;
            border-color: red;
        }

        .btn-success:hover{
            background-color: blue;
            color: white;
        }

        .text-danger {
            color: red;
        }

    </style>
</head>

<body>
<nav th:replace="~{fragments/navbar::nav}"></nav>
<div class="container">
    <h1 class="mb-4">Admin Dashboard</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Revenue</div>
                <div class="card-body">
                    <h5 class="card-title">$<span id="revenue" th:text="${totalBoughtMemberships}">10000</span></h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Active Users</div>
                <div class="card-body">
                    <h5 class="card-title"><span id="active-users" th:text="${totalUserAccounts}">150</span></h5>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">User Accounts Management</div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>UUID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="*{user.uuid}">john_doe</td>
                    <td th:text="*{user.username}">john_doe</td>
                    <td th:text="*{user.email}">john_doe</td>
                    <td>
                        <form th:unless="*{user.disabled}" th:method="PATCH" th:action="@{/disableAcc/{accountUUID}(accountUUID = *{user.uuid})}">
                            <button class="btn btn-dark" data-id="1" type="submit">Disable Account</button>
                        </form>
                        <form th:if="*{user.disabled}" th:method="PATCH" th:action="@{/enableAcc/{accountUUID}(accountUUID = *{user.uuid})}">
                            <button class="btn btn-success" data-id="1" type="submit">Enable Account</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Users Comments Management</div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>UUID</th>
                    <th>Author</th>
                    <th>Description</th>
                    <th>Training Type</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="comment : ${comments}">
                    <td th:text="*{comment.uuid}">john_doe</td>
                    <td th:text="*{comment.authorUsername}">john_doe</td>
                    <td th:text="*{comment.text}">john_doe</td>
                    <td th:text="*{comment.trainingTrainingType}">john_doe</td>
                    <td>
                        <form  th:method="DELETE" th:action="@{/deleteComment/{commentUUID}/{authorUsername}(authorUsername = *{comment.authorUsername},commentUUID = *{comment.uuid})}">
                            <button class="btn btn-danger" data-id="1" type="submit">Delete Comment</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header">New Users Chart</div>
        <div class="card-body">
            <canvas id="userChart"></canvas>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Initialize Chart
        var ctx = document.getElementById('userChart').getContext('2d');
        var userChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["January", "February", "March", "April", "May", "June"], // Static labels for now
                datasets: [{
                    label: 'New Users',
                    data: [10, 15, 12, 30, 25, 35], // Static data for now
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>
</body>
</html>
