<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pathfinder</title>
    <!-- Thymeleaf expressions to dynamically generate URLs -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/indexStyle.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
          crossorigin="anonymous" rel="stylesheet"/>
    <link href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin="" rel="stylesheet"/>

</head>
<body class="d-flex flex-column" >
<!-- Navbar -->
<nav th:replace = "~{fragments/navbar::nav}">

</nav>

<!-- Main Content -->
<div class="content mb-3 mt-2">
    <h1>THE GYM FOR HIGH IMPACT ATHLETES</h1>
    <div sec:authorize="isAuthenticated()">
        <h2 th:text="#{index_welcome_authenticated} + ' ' + ${fullName}  + ' !'">Welcome, <span th:text="${fullName}"></span>!</h2>
        <h3>Explore our high-intensity workouts and community-driven fitness programs.</h3>
    </div>
    <div sec:authorize="isAnonymous()">
        <h2 th:text="#{index_welcome_anonymous}">Welcome to our CrossFit community, where we push boundaries and achieve greatness. Our state-of-the-art facilities and expert trainers are dedicated to helping you reach your fitness goals.</h2>
        <h3 th:text="#{index_description_anonymous}">Join us and experience high-intensity workouts, personalized training plans, and a supportive community that will motivate you every step of the way. Transform your body and mind with our innovative fitness programs designed to challenge and inspire you.</h3>
    </div>
    <a  sec:authorize="isAnonymous()" th:href="@{/users/register}" class="btn btn-primary btn-lg mb-5" th:text="#{index_join_now}">Join Now</a>
    <a  sec:authorize="isAnonymous()" th:href="@{/users/login}" class="btn btn-secondary btn-lg mb-5" th:text="#{index_login}">Log In</a>
</div>


<!-- Find amazing friends Section -->
<section class="top-container">
    <div class="showcase text-white">
        <button class="btn btn-secondary btn-lg" th:text="#{index_explore_community}">Explore our community</button>
    </div>
</section>

<!-- Boxes Section -->
<section class="boxes py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <a th:href="@{${#authorization.expression('hasRole(''MEMBER'')') ? '/schedule-for-the-week' : '/memberships'}}" class="main-btn">
                    <div class="box text-center">
                        <i class="fas fa-calendar-alt fa-5x mb-3"></i>
                        <h3>Schedule</h3>
                        <p th:text="#{index_schedule_description}">Plan your workouts effectively</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 mb-4">
                <a th:href="@{/coaches}"  class="main-btn">
                    <div class="box text-center">
                        <i class="fas fa-user-friends fa-5x mb-3"></i>
                        <h3>Coaches</h3>
                        <p th:text="#{index_coaches_description}">Meet our experienced coaches</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 mb-4">
                <a th:href="@{/nutrition-blog}" class="main-btn">
                    <div class="box text-center">
                        <i class="fas fa-carrot fa-4x mb-2"></i>
                        <h3>Nutrition Blog</h3>
                        <p th:text="#{index_nutrition_blog_description}">Discover essential nutrition advice for peak performance in our blog !</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer th:replace="~{fragments/footer::footer}">

</footer>
</body>
</html>
