<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Workouts for the Week</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/mytrainings.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="~{fragments/navbar::nav}"></nav>
<main role="main">
    <section class="py-5 text-center">
        <div class="container">
            <h1 class="title">My workouts for the week</h1>
            <h4 style="color: ghostwhite;">Browse your scheduled workouts below. Click 'Delete' to remove a workout session.</h4>
        </div>
    </section>

    <div class="container">
        <div class="row justify-content-center">
            <!-- Workout Session Card -->
            <div class="col-md-4 mb-4" th:each="weeklyTraining : ${currentWeeklyTrainings}">
                <div class="card shadow-sm">
                    <img th:src="@{*{weeklyTraining.imageUrl}}" class="card-img-top" alt="Placeholder Image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="*{'Type of training ' + weeklyTraining.trainingType}">Training Name</h5>
                        <p class="card-text" th:text="*{'Date of the training: ' + weeklyTraining.date}">Date: </p>
                        <p class="card-text" th:text="*{'Time of the training ' + weeklyTraining.time}">Time: 10:00 AM</p>
                        <p class="card-text" th:text="*{'Day of week : ' + weeklyTraining.dayOfWeek}">Day of week</p>
                        <form th:action="@{/my-workouts/delete-training/{trainingId}(trainingId=*{weeklyTraining.id})}" th:method="POST">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-sm btn-outline-secondary btn-delete">Delete</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End of card blocks -->
        </div>

        <!-- Message Card when no workouts -->
        <!-- Message Card when no workouts -->
        <div th:if="${#lists.isEmpty(currentWeeklyTrainings)}" class="col-md-4 mb-4 d-flex position-relative">
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <h5 class="card-title">No workouts scheduled for this week.</h5>
                    <p class="card-text">You can enroll in a workout to get started!</p>
                    <a th:href="@{/schedule-for-the-week}" class="btn btn-primary">Enroll in a Workout</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>