<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrossFit App Schedule</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/schedule.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="~{fragments/navbar::nav}"></nav>
<div class="container">
    <h1 class="my-4 text-center">Weekly Training Schedule</h1>
    <div class="row" th:object="${timeForNewTrainigns}">
        <!-- Monday -->
        <div class="col-md-4">
            <h3 class="day-heading">Monday</h3>
            <div class="card" th:each="training : ${weeklyTrainingsMONDAY}">
                <div class="card-body"  th:classappend="${training.participants.size() == 5} ? 'unavailable' : ''">
                    <span class="card-title" th:text="${training.trainingType}">CARDIO</span>
                    <span class="card-date" th:text="${training.getFormattedDate()}">Some date</span>
                    <div class="details">
                        <span class="coach" th:text="${'Coach: ' + training.coachFirstName + ' ' + training.coachLastName}">Coach: Sophia Adams </span>
                        <span class="time" th:text="'Starting time: ' + ${training.time}">Starting time: 9:00 AM</span>
                        <span class="free-spots" th:text="'Free Spots: ' + ${training.participants.size()} + '/5'">Free Spots: 9/5</span>
                    </div>
                    <!-- Check if current user is a participant -->
                    <!-- Check if current user is a participant -->
                    <div th:if="${#lists.contains(training.getParticipantsUsernames(), #authentication.principal.username)}">
                        <span class="text-dark">Already joined</span>
                    </div>
                    <!-- If not a participant and there are free spots, show join button -->
                    <form th:action="@{/joinTraining/{trainingId}(trainingId=${training.uuid})}" th:method="POST"
                          th:if="${training.participants.size() < 5 and not #lists.contains(training.getParticipantsUsernames(), #authentication.principal.username)
 and  training.coachUsername != #authentication.principal.username}" >
                        <button type="submit" class="btn btn-primary btn-join">Join</button>
                    </form>
                    <!-- Show full indicator if training is full -->
                    <div th:if="${training.participants.size() == 5}">
                        <span class="text-danger">Full</span>
                    </div>

                </div>
            </div>
        </div>
        <!-- Tuesday -->
        <div class="col-md-4">
            <h3 class="day-heading">Tuesday</h3>
            <div class="card" th:each="training : ${weeklyTrainingsTUESDAY}">
                <div class="card-body"  th:classappend="${training.participants.size() == 5} ? 'unavailable' : ''">
                    <span class="card-title" th:text="${training.trainingType}">CARDIO</span>
                    <span class="card-date" th:text="${training.getFormattedDate()}">Some date</span>
                    <div class="details">
                        <span class="coach" th:text="${'Coach: ' + training.coachFirstName + ' ' + training.coachLastName}">Coach: Sophia Adams </span>
                        <span class="time" th:text="'Starting time: ' + ${training.time}">Starting time: 9:00 AM</span>
                        <span class="free-spots" th:text="'Free Spots: ' + ${training.participants.size()} + '/5'">Free Spots: 9/5</span>
                    </div>
                    <!-- Check if current user is a participant -->
                    <!-- Check if current user is a participant -->
                    <div th:if="${#lists.contains(training.getParticipantsUsernames(), #authentication.principal.username)}">
                        <span class="text-dark">Already joined</span>
                    </div>
                    <!-- If not a participant and there are free spots, show join button -->
                    <form th:action="@{/joinTraining/{trainingId}(trainingId=${training.uuid})}" th:method="POST"
                          th:if="${training.participants.size() < 5 and not #lists.contains(training.getParticipantsUsernames(), #authentication.principal.username)
 and  training.coachUsername != #authentication.principal.username}" >
                        <button type="submit" class="btn btn-primary btn-join">Join</button>
                    </form>
                    <!-- Show full indicator if training is full -->
                    <div th:if="${training.participants.size() == 5}">
                        <span class="text-danger">Full</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wednesday -->
        <div class="col-md-4">
            <h3 class="day-heading">Wednesday</h3>
            <div class="card" th:each="training : ${weeklyTrainingsWEDNESDAY}">
                <div class="card-body"  th:classappend="${training.participants.size() == 5} ? 'unavailable' : ''">
                    <span class="card-title" th:text="${training.trainingType}">CARDIO</span>
                    <span class="card-date" th:text="${training.getFormattedDate()}">Some date</span>
                    <div class="details">
                        <span class="coach" th:text="${'Coach: ' + training.coachFirstName + ' ' + training.coachLastName}">Coach: Sophia Adams </span>
                        <span class="time" th:text="'Starting time: ' + ${training.time}">Starting time: 9:00 AM</span>
                        <span class="free-spots" th:text="'Free Spots: ' + ${training.participants.size()} + '/5'">Free Spots: 9/5</span>
                    </div>
                    <!-- Check if current user is a participant -->
                    <!-- Check if current user is a participant -->
                    <div th:if="${#lists.contains(training.getParticipantsUsernames(), #authentication.principal.username)}">
                        <span class="text-dark">Already joined</span>
                    </div>
                    <!-- If not a participant and there are free spots, show join button -->
                    <form th:action="@{/joinTraining/{trainingId}(trainingId=${training.uuid})}" th:method="POST"
                          th:if="${training.participants.size() < 5 and not #lists.contains(training.getParticipantsUsernames(), #authentication.principal.username)
 and  training.coachUsername != #authentication.principal.username}" >
                        <button type="submit" class="btn btn-primary btn-join">Join</button>
                    </form>
                    <!-- Show full indicator if training is full -->
                    <div th:if="${training.participants.size() == 5}">
                        <span class="text-danger">Full</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Thursday -->
        <div class="col-md-4">
            <h3 class="day-heading">Thursday</h3>
            <div class="card" th:each="training : ${weeklyTrainingsTHURSDAY}">
                <div class="card-body"  th:classappend="${training.participants.size() == 5} ? 'unavailable' : ''">
                    <span class="card-title" th:text="${training.trainingType}">CARDIO</span>
                    <span class="card-date" th:text="${training.getFormattedDate()}">Some date</span>
                    <div class="details">
                        <span class="coach" th:text="${'Coach: ' + training.coachFirstName + ' ' + training.coachLastName}">Coach: Sophia Adams </span>
                        <span class="time" th:text="'Starting time: ' + ${training.time}">Starting time: 9:00 AM</span>
                        <span class="free-spots" th:text="'Free Spots: ' + ${training.participants.size()} + '/5'">Free Spots: 9/5</span>
                    </div>
                    <!-- Check if current user is a participant -->
                    <!-- Check if current user is a participant -->
                    <div th:if="${#lists.contains(training.getParticipantsUsernames(), #authentication.principal.username)}">
                        <span class="text-dark">Already joined</span>
                    </div>
                    <!-- If not a participant and there are free spots, show join button -->
                    <form th:action="@{/joinTraining/{trainingId}(trainingId=${training.uuid})}" th:method="POST"
                          th:if="${training.participants.size() < 5 and not #lists.contains(training.getParticipantsUsernames(), #authentication.principal.username)
 and  training.coachUsername != #authentication.principal.username}" >
                        <button type="submit" class="btn btn-primary btn-join">Join</button>
                    </form>
                    <!-- Show full indicator if training is full -->
                    <div th:if="${training.participants.size() == 5}">
                        <span class="text-danger">Full</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Friday -->
        <div class="col-md-4">
            <h3 class="day-heading">Friday</h3>
            <div class="card"  th:each="training : ${weeklyTrainingsFRIDAY}">
                <div class="card-body"  th:classappend="${training.participants.size() == 5} ? 'unavailable' : ''">
                    <span class="card-title" th:text="${training.trainingType}">CARDIO</span>
                    <span class="card-date" th:text="${training.getFormattedDate()}">Some date</span>
                    <div class="details">
                        <span class="coach" th:text="${'Coach: ' + training.coachFirstName + ' ' + training.coachLastName}">Coach: Sophia Adams </span>
                        <span class="time" th:text="'Starting time: ' + ${training.time}">Starting time: 9:00 AM</span>
                        <span class="free-spots" th:text="'Free Spots: ' + ${training.participants.size()} + '/5'">Free Spots: 9/5</span>
                    </div>
                    <!-- Check if current user is a participant -->
                    <!-- Check if current user is a participant -->
                    <div th:if="${#lists.contains(training.getParticipantsUsernames(), #authentication.principal.username)}">
                        <span class="text-dark">Already joined</span>
                    </div>
                    <!-- If not a participant and there are free spots, show join button -->
                    <form th:action="@{/joinTraining/{trainingId}(trainingId=${training.uuid})}" th:method="POST"
                          th:if="${training.participants.size() < 5 and not #lists.contains(training.getParticipantsUsernames(), #authentication.principal.username)
 and  training.coachUsername != #authentication.principal.username}" >
                        <button type="submit" class="btn btn-primary btn-join">Join</button>
                    </form>
                    <!-- Show full indicator if training is full -->
                    <div th:if="${training.participants.size() == 5}">
                        <span class="text-danger">Full</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Saturday -->
            <div class="col-md-4">
                <h3 class="day-heading">Saturday</h3>
                <div class="card" th:each="training : ${weeklyTrainingsSATURDAY}">
                    <div class="card-body"  th:classappend="${training.participants.size() == 5} ? 'unavailable' : ''">
                        <span class="card-title" th:text="${training.trainingType}">CARDIO</span>
                        <span class="card-date" th:text="${training.getFormattedDate()}">Some date</span>
                        <div class="details">
                            <span class="coach" th:text="${'Coach: ' + training.coachFirstName + ' ' + training.coachLastName}">Coach: Sophia Adams </span>
                            <span class="time" th:text="'Starting time: ' + ${training.time}">Starting time: 9:00 AM</span>
                            <span class="free-spots" th:text="'Free Spots: ' + ${training.participants.size()} + '/5'">Free Spots: 9/5</span>
                        </div>
                        <!-- Check if current user is a participant -->
                        <!-- Check if current user is a participant -->
                        <div th:if="${#lists.contains(training.getParticipantsUsernames(), #authentication.principal.username)}">
                            <span class="text-dark">Already joined</span>
                        </div>
                        <!-- If not a participant and there are free spots, show join button -->
                        <form th:action="@{/joinTraining/{trainingId}(trainingId=${training.uuid})}" th:method="POST"
                              th:if="${training.participants.size() < 5 and not #lists.contains(training.getParticipantsUsernames(), #authentication.principal.username)
 and  training.coachUsername != #authentication.principal.username}" >
                            <button type="submit" class="btn btn-primary btn-join">Join</button>
                        </form>
                        <!-- Show full indicator if training is full -->
                        <div th:if="${training.participants.size() == 5}">
                            <span class="text-danger">Full</span>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- JavaScript to mark past trainings as unavailable -->
<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function() {
        var now = new Date();
        var cards = document.querySelectorAll('.card');

        cards.forEach(function(card) {
            var dateString = card.querySelector('.card-date').textContent.trim();
            var timeString = card.querySelector('.time').textContent.trim().substring(14); // Extracting only HH:mm
            var dateTimeString = dateString + ' ' + timeString;
            console.log(dateTimeString);
            var trainingDate = new Date(dateTimeString);


            if (trainingDate < now) {
                var cardBody = card.querySelector('.card-body');
                cardBody.classList.add('unavailable'); // Example class to style past trainings
                // Hide the join button or any other specific content for past trainings
                var joinButton = card.querySelector('.btn-join');
                if (joinButton) {
                    joinButton.style.display = 'none';
                }

                var messageDiv = document.createElement('div');
                messageDiv.className = 'text-danger mt-2'; // Add margin-top for spacing
                messageDiv.innerHTML = '<span>This training is in the past</span>';
                cardBody.appendChild(messageDiv);
            }
        });
    });
    /*]]>*/
</script>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>