<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">

    <style>
        .navbar-dark {
            background-color: #343a40; /* Dark grey color */
        }
        .navbar-nav .nav-link {
            font-size: 1.5rem; /* Larger font size */
            margin-right: 2rem; /* Increased space between links */
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/logoPic.jpg" alt="CrossFit Logo" width="60" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}"  th:classappend="${activeLink == 'brands'}? 'active'">Home</a>
                </li>
                <li class="nav-item" sec:authorize= "!hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/about-us}">About Us</a>
                </li>
                <li class="nav-item" sec:authorize= "!hasRole('ADMIN')" >
                    <a class="nav-link" th:href="@{/workouts}" >Workouts</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/events/add-event/}">Add Event</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated() and !hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/my-workouts}">My Workouts</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated() and !hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/profile}">Profile</a>
                </li>
                <li class="nav-item"  sec:authorize= "!hasRole('COACH') and !hasRole('ADMIN')" >
                    <a class="nav-link" th:href="@{/memberships}">Memberships</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/profiles-dashboard/{id}(id=${#authentication.principal.id})}">All User Profiles</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('COACH')">
                    <a class="nav-link" th:href="@{/my-weekly-schedule/{id}(id=${#authentication.principal.id})}">Upcoming Trainings</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="POST">
                        <button class="btn btn-outline-light logout-button m-lg-2" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>