/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: white;
    background: #1a1e21;
}

.title {
    color: #fff;
    margin-left: 1rem;
    font-size: 1.5rem;

}

.btn {
    margin: 1rem;
}
.events_area .event-link {
    color: #fdc632;
    font-size: 13px;
    text-transform: uppercase;
}

.events_area .event-link iframe {
    margin-left: 5px;
    display: inline-block;
}
.events_area .event-link {
    color: #fdc632;
    font-size: 13px;
    text-transform: uppercase;
}
.events_area .event-link iframe {
    margin-left: 5px;
    display: inline-block;
}

.single_event {
    margin-bottom: 10px;
}
.single_event .event_video {
    overflow: hidden;
}
.single_event .event_thumb iframe {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.single_event .event_details {
    background: rgba(0, 35, 71, 0.5);
    position: absolute;
    top: 0px;
    right: 0px;
    width: 275px;
    padding: 30px 25px;
    color: #ffffff;
}
.single_event .event_details .date {
    color: #ffffff;
    padding-right: 15px;
    border-right: 2px solid #fff;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
}
.single_event .event_details .date span {
    display: block;
    color: #fdc632;
    font-size: 28px;
    font-weight: 500;
}
.single_event .event_details .time-location {
    padding-left: 15px;
    font-size: 14px;
}
.single_event .event_details .time-location p {
    margin-bottom: 0px;
}
.single_event .event_details .time-location p span {
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
}
.single_event:hover iframe {
    transform: scale(1.1);
}
.single_event:hover h4 a {
    color: #fdc632;
}
.event_video {
    position: relative;
    width: 100%; /* Adjust width as needed */
    padding-top: 85%; /* 4:3 aspect ratio for larger frame */
    overflow: hidden;
}

.event_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust width as needed */
    height: 100%; /* Adjust height for larger frame */
    border: none;
}

.single_event:hover .event_video {
    transform: scale(1.00); /* Scale up video frame on hover */
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-size: cover;
    background-position: center;
}
.carousel-item > img {
    position: relative;
    top: 1px;
    left: 1px;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}
/* rtl:end:ignore */
/* Custom styles for carousel indicators */
.carousel-indicators {
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 15; /* Ensure indicators are above carousel items */
}

.carousel-indicators button {
    border: none;
    border-radius: 50%; /* Make round */
    width: 12px;
    height: 12px;
    margin: 0 8px;
    transition: background-color 0.1s ease;
    cursor: pointer;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}
.featurette-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover; /* Ensures the image covers its entire container */
    border-radius: 50%; /* Adjust as needed based on your design */
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
