/* Card styling */
.card {
    background-color: white; /* White background for cards */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Shadow effect */
    transition: transform 0.3s ease; /* Smooth hover effect */
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Ensure images fit within rounded corners */
}

.card:hover {
    transform: translateY(-5px); /* Lift card on hover */
}
.certificate-item {
    margin-bottom: 5px;
    font-style: italic;
    color: #666; /* Dark grey */
}


/* Image styling */
.card img {
    width: 100% ;/* Ensure image fills card */
    height: 300px; /* Ensure image takes full height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-top-left-radius: 8px; /* Rounded corners */
    border-top-right-radius: 8px;
    display: block; /* Ensure image starts from top */
}

/* Card content styling */
.card-body {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.title {
    color: #888; /* Light grey for titles */
}

.button {
    background-color: #000; /* Black background */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.button:hover {
    background-color: #555; /* Darker grey on hover */
}

/* Ensure images start from the top */
@media screen and (max-width: 768px) {
    .card img {
        height: auto; /* Adjust height for smaller screens */
    }
}
