<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
    <link th:href="@{/css/errors/500.css}" rel="stylesheet">
</head>
<body>
<div class="mainbox">
    <div class="err">5</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="err2">0</div>
    <div class="msg">Oops! Something went wrong on our end.<br>We're working to fix it as soon as possible.<p>In the meantime, you can go back to our <a href="#">home page</a> and try again.</p></div>
</div>
</body>
</html>
