<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile page</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/profile.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
          crossorigin="anonymous" rel="stylesheet"/>
</head>
<body>
<nav th:replace = "~{fragments/navbar::nav}"></nav>
<div class="container emp-profile" th:object="${userProfileDto}">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img th:src="*{imageUrl()}" alt=""/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5 th:text=" *{'Current user : ' + username()}">
                        Kshiti Ghelani
                    </h5>
                    <h6>
                        User at our crossfit community !
                    </h6>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active"  data-toggle="tab"  role="tab" aria-controls="home" aria-selected="true">Profile Details</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a class="profile-edit-btn" th:href="@{/users/profile/{username}/edit(username=${#authentication.principal.username})}">Edit Profile</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>Most visited types of trainings :</p>
                    <div th:each="training : *{enrolledTrainingsForTheWeek()}">
                        <a th:text="${training.trainingType}">Training Type</a><br/>
                    </div>

                    <p>Enrolled in following events : </p>
                    <div th:each="event : *{events()}">
                        <a th:text="${event.eventName}">Event Name</a><br/>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Id:</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{id()}">Kshiti123</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Full Name:</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{fullName()}">Kshiti Ghelani</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email:</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{email()}">kshitighelani@gmail.com</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Address:</label>
                            </div>
                            <div class="col-md-6">
                                <p th:text="*{address()}">Street Biscuit 1</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Roles:</label>
                            </div>
                            <div class="col-md-6 mb-1">
                                <div th:each="role : *{roles()}" class="col-md-12">
                                    <a th:text="${role}">RoleType</a><br/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Membership:</label>
                            </div>
                            <div class="col-md-6">
                                <div class="membership-info">
                                    <p><strong th:text="*{membership.membershipType + ' Membership'}">Gold Membership</strong></p>
                                    <p>Expires in: <span id="membership-time-left" th:text="*{membership().timeLeft + ' days left of the membership'}">30 days</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
    <footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>