<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css}">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/updateProfilePage.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
    <title>Update Profile Page</title>
</head>
<body style="background-color: #34383c; color: white">
<nav th:replace = "~{fragments/navbar::nav}"></nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Page title -->
            <div>
                <h3>Adjust my profile</h3>
                <form th:action="@{/profile/edit/delete-profile}" th:method="DELETE">
                    <div class="gap-3 d-md-flex justify-content-md-end text-center">
                        <button type="submit" class="btn btn-danger btn-lg">Delete profile</button>
                    </div>
                </form>

                <form th:action="@{/profile/edit/update-profile}" th:method="PATCH">
                    <div class="gap-3 d-md-flex justify-content-md-end text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Update profile</button>
                    </div>
                </form>

                <hr>
            </div>

            <!-- Form START -->
            <form class="file-upload">
                <div class="row mb-5 gx-5">
                    <!-- Contact detail -->
                    <div class="col-xxl-8 mb-5 mb-xxl-0">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <div class="row g-3">
                                <h4 class="mb-4 mt-0">Contact detail</h4>

                                <div class="col-md-6">
                                    <label class="form-label" for="firstName">First Name</label>
                                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" aria-label="First name" >
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label" for="lastName">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name" aria-label="Last name" >
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label" for="username">Username *</label>
                                    <input type="text" class="form-control"  id="username" name="username" placeholder="Username" aria-label="Username">
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email *</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="example@homerealty.com">
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label" for="address">Address</label>
                                    <input type="text" class="form-control " id="address" name="address" placeholder="Enter your new address" >
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label" for="dateOfBirth">Date of Birth *</label>
                                    <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" placeholder="Enter your new address" >
                                </div>
                            </div> <!-- Row END -->
                        </div>
                    </div>
                    <!-- Upload profile -->
                    <div class="col-xxl-4">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <div class="row g-3">
                                <h4 class="mb-4 mt-0">Upload your profile photo</h4>
                                <div class="text-center">
                                    <!-- Image upload -->
                                    <div class="square position-relative display-2 mb-3">
                                        <i class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"></i>
                                    </div>
                                    <!-- Button -->
                                    <input type="file" id="customFile" name="file" hidden="">
                                    <label class="btn btn-success" for="customFile">Upload</label>
                                    <!-- Content -->
                                    <p class="text-muted mt-3 mb-0"><span class="me-1">Note:</span>Minimum size 300px x 300px</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row END -->


                    <!-- change password -->
                    <div class="col-xxl-6 mb-5">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <div class="row g-3">
                                <h4 class="my-4">Change Password</h4>
                                <!-- Old password -->
                                <div class="col-md-6">
                                    <label for="password"  id= "password" class="form-label">Old password *</label>
                                    <input type="password"  name="password" class="form-control" id="exampleInputPassword1">
                                </div>
                                <!-- New password -->
                                <div class="col-md-6">
                                    <label for="newPass" id="newPass" class="form-label">New password *</label>
                                    <input type="password" name="newPass" class="form-control" id="exampleInputPassword2">
                                </div>
                                <!-- Confirm password -->
                                <div class="col-md-12">
                                    <label for="newConfirmPass" id="newConfirmPass" class="form-label">Confirm Password *</label>
                                    <input type="password" name="newConfirmPass" class="form-control" id="exampleInputPassword3">
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- button -->
            </form> <!-- Form END -->
        </div>
    </div>
</div>
<!-- Footer -->
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>